

*{

}

body{
font-family: Old English Text MT,Futura,Arial,Verdana,sans-serif; 

background-image: url(https://i.pinimg.com/originals/36/58/fc/3658fc6cfe8b9436e8225a6cda136727.gif);
background-size: 25px 50px;
background-size: 100% 100%
}

h1{

color: red;



}
h2{color: black;

}


h3{color: black;

}
.p1{
background-color: black; color: white; 
}

.p2{
background-color: white;

}



